*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(marble.png);
  background-position: center;
  background-size: cover;
  position: relative;
}


nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  
}
nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: center;
  transform: translate(-55px, 0px);
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 70px;
  position: relative 
}
.nav-links ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f1ad1b;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
width: 100%;

}
.text-box{
  width: 90%;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-top: -5%;


}
.text-box h1{
  font-size: 40px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: white 
}

.contact
{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.container
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactInfo
{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box
{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .text
{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: white;
  flex-direction: column;
  font-weight: 300;
}

.contactForm
{
  width: 40%;
  padding: 40px;
  background: white;
  border-radius: 15px;
}
.contactForm h2
{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox
{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span
{
position: absolute;
left: 0;
padding: 5px 0;
font-size: 16px;
margin: 10px 0;
pointer-events: none;
transition: 0.5s;
color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
  width: 100px;
  background: #0a58e7;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
footer{
  position: bottom;
  bottom: 0px;
  width: 100%;
  background: #111;
  text-align: center;
  margin-bottom: 0px;
}

.center-box{
  color: white
}


/*-----slideshow-----*/


.slidershow{
  width: 900px;
  height: 400px;
  overflow: hidden;
  margin-bottom: 20%;

}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -13.5%);
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid white;
  margin: 15px;
  cursor: pointer;
  transition: 0.4s;
  margin-bottom: 0px;
}
.bar:hover{
  background: white;
}

input[name="r"]{
  position: absolute;
  visibility: hidden;
}
.slides{
  width: 550%;
  height: 120%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 2%;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}
#r6:checked ~ .s1{
  margin-left: -101%;
}

/* Products */

.cardsContainer {
  display: grid;
  grid-template-columns: 40% auto;
  justify-content: center;
}

.cards:hover{
  box-shadow: 0 8px 12px 0 rgb(243, 163, 15);
}
.cardImage{
  background-color: aqua;
  height: 80%;
  margin-bottom: 30px;
}

.cards{
  background: white;
  width: 280px;
  height: 400px;
  margin: 20px;
  text-align: center;

}
.card-1{
  background-image: url(products/black-dress-shirt2.jpg);
  background-size: cover;
}
.card-1:hover{
  background-image: url(products/black-dress-shirt.jpg);
}
.card-2{
  background-image: url(products/beach-shirt1.jpg);
  background-size: cover;
}
.card-2:hover{
  background-image: url(products/beach-shirt2.jpg);
}
.card-3{
  background-image: url(products/stripe-shirt1.jpg);
  background-size: cover;
}
.card-3:hover{
  background-image: url(products/stripe-shirt2.jpg);
}
.card-4{
  background-image: url(products/gold-shirt1.jpg);
  background-size: cover;
}
.card-4:hover{
  background-image: url(products/gold-shirt2.jpg);
}
.card-5{
  background-image: url(products/white-button1.jpg);
  background-size: cover;
}
.card-5:hover{
  background-image: url(products/white-button2.jpg);
}
.card-6{
  background-image: url(products/white-tshirt1.jpeg);
  background-size: cover;
}
.card-6:hover{
  background-image: url(products/white-tshirt2.jpeg);
}
.card-7{
  background-image: url(products/gray-tshirt1.jpeg);
  background-size: cover;
}
.card-7:hover{
  background-image: url(products/gray-tshirt2.jpeg);
}
.card-8{
  background-image: url(products/black-jacket2.jpg);
  background-size: cover;
}
.card-8:hover{
  background-image: url(products/black-jacket1.jpg);
}
.card-9{
  background-image: url(products/chain-blouson1.jpg);
  background-size: cover;
}
.card-9:hover{
  background-image: url(products/chain-blouson2.jpg);
}
.card-10{
  background-image: url(products/bomber-jacket1.jpg);
  background-size: cover;
}
.card-10:hover{
  background-image: url(products/bomber-jacket2.jpg);
}
.card-11{
  background-image: url(products/renaissance-jacket1.jpg);
  background-size: cover;
}
.card-11:hover{
  background-image: url(products/renaissance-jacket2.jpg);
}
.card-12{
  background-image: url(products/blue-blazer1.jpg);
  background-size: cover;
}
.card-12:hover{
  background-image: url(products/blue-blazer2.jpg);
}




/* For iPhone 13 Pro Max */
@media only screen 
  and (device-width: 428px) 
  and (device-height: 926px) 
  and (-webkit-device-pixel-ratio: 3) { 
    [class*="nav-links"] {
      text-align: right;
    }
  }

/* For iPhone 13 and 13 Pro */
@media only screen 
  and (device-width: 390px) 
  and (device-height: 844px) 
  and (-webkit-device-pixel-ratio: 3) {
    [class*="nav-links"] {
      text-align: right;
    }
   }

/* For iPhone X, XR, and 11 */
@media only screen 
  and (device-width: 414px) 
  and (device-height: 896px) 
  and (-webkit-device-pixel-ratio: 2) { 
    [class*="nav-links"] {
      text-align: right;
    }
  }


/* For iPhone 11 Pro */
@media only screen 
  and (device-width: 414px) 
  and (device-height: 896px) 
  and (-webkit-device-pixel-ratio: 3) { 
    [class*="nav-links"] {
      text-align: right;
    }
  }
